**OPERADORES ARITMÉTICOS**

**Os operadores aritméticos mais usados são:**

*   Soma (+)
*   Subtração (-)
*   Multiplicação (*)
*   Divisão (/)
*   Potência (**)
*   Divisão inteira (//)
*   Resto da divisão (%)
*   Atribuição de valor (=)
*   Cálculo (==)

**Operadores que funcionam com str e suas funções:**

*   Concatenar (+)
*   Repetir n vezes (*)

In [ ]:
print('7+2 =', 7+2)
print ('7-2 =', 7-2)
print('7*2 =', 7*2)
print('7/2 =', 7/2)
print('7**2 =', 7**2)
print('7//2 =', 7//2)
print('7%2 =',)

7+2 = 9
7-2 = 5
7*2 = 14
7/2 = 3.5
7**2 = 49
7//2 = 3
7%2 = 1

In [ ]:
print('Kiki' + ' Dimbu')
print('Kiki Dimbu ' * 5)

Kiki Dimbu
Kiki Dimbu Kiki Dimbu Kiki Dimbu Kiki Dimbu Kiki Dimbu

In [ ]:
print('-'*21)
print('-'+ ' '*5 + 'Bem Vindo' + ' '*5 + '-')
print('-'*21)

---------------------
-     Bem Vindo     -
---------------------

**Ordem de precedência na aritmética:**

1 - ( )

2 - **

3 - * / % //

4 - + -

In [ ]:
print('7+2*4 =', 7+2*4)
print('(7+2)*4 =', (7+2)*4)

7+2*4 = 15
(7+2)*4 = 36

**Transformando variáveis**

Quando as variáveis vierem num formato que não conseguimos manipular como queremos. Por exemplo, após o input()

int()   # Converte variável para inteiro

float() # Converte variável para número decimal (real)

str()   # Converte variável para string

In [ ]:
print('1 - int(1.857) =', int(1.857)), print(type(int(1.857)))
print("2 - int('4') =", int('4')), print(type(int('4')))
print('3 - int(True) =', int(True)), print(type(int(True)))
print('4 - int(False) =', int(False)), print(type(int(False)))
print("5 - int('tex34') = ValueError: invalid literal for int() with base 10: 'text34'")

1 - int(1.857) = 1
<class 'int'>
2 - int('4') = 4
<class 'int'>
3 - int(True) = 1
<class 'int'>
4 - int(False) = 0
<class 'int'>
5 - int('tex34') = ValueError: invalid literal for int() with base 10: 'text34'

In [ ]:
print('1 - float(1.857) =', float(1.857)), print(type(float(1.857)))
print("2 - float('4') =", float('4')), print(type(float('4')))
print('3 - float(True) =', float(True)), print(type(float(True)))
print('4 - float(False) =', float(False)), print(type(float(False)))
print("5 - float('tex34') = ValueError: could not convert string to float: 'text34'")

1 - float(1.857) = 1.857
<class 'float'>
2 - float('4') = 4.0
<class 'float'>
3 - float(True) = 1.0
<class 'float'>
4 - float(False) = 0.0
<class 'float'>
5 - float('tex34') = ValueError: could not convert string to float: 'text34'

In [ ]:
print('1 - str(1.857) =', str(1)), print(type(str(1)))
print("2 - str('4') =", str('2.758')), print(type(str('2.758')))
print('3 - str(True) =', str(True)), print(type(str(True)))
print('4 - str(False) =', str(False)), print(type(str(False)))
print("5 - str('tex34') = SyntaxError: unexpected EOF while parsing.")

1 - str(1.857) = 1
<class 'str'>
2 - str('4') = 2.758
<class 'str'>
3 - str(True) = True
<class 'str'>
4 - str(False) = False
<class 'str'>
5 - str('tex34') = SyntaxError: unexpected EOF while parsing.

**print() com format()**

In [ ]:
# imprimindo na forma tradicional
lanche_preco = 10
batata_preco = 5.25
pedido_valor_total = lanche_preco + batata_preco
print('Você pediu um lanche de: R$', lanche_preco, 'e uma batata de: R$', batata_preco, 'totalizando: R$', pedido_valor_total)

Você pediu um lanche de: R$ 10 e uma batata de: R$ 5.25 totalizando: R$ 15.25

In [ ]:
# imprimindo com .format
# PRESTE MUITA ATENÇÃO NA QUANTIDADE DE ASPAS E VÍRGULAS
lanche_preco = 10
batata_preco = 5.25
pedido_valor_total = lanche_preco + batata_preco
print('Você pediu um lanche de: R${} e uma batata de: R${} totalizando: R${}'.format(lanche_preco, batata_preco, pedido_valor_total))

Você pediu um lanche de: R$10 e uma batata de: R$5.25 totalizando: R$15.25

**ENTENDENDO A ESTRUTURA DE print() COM .format**

In [ ]:
a = 2
b = 3
print('Texto {}, mais texto'.format(a,b))

Texto 2, mais texto 3

As chaves {} são também conhecidas como [Máscaras] = ficam na posição das variáveis.
O .format é o [Método] = separa as variáveis que estão dentro do print()

**DELIMITANDO O TAMANHO DE NÚMEROS IMPRESSOS**

In [ ]:
a = 1
b = 7
print('a dividido por b é: {}'.format(a/b))

a dividido por b é: 0.14285714285714285

In [ ]:
a = 1
b = 7
print ('a dividido por b é: {:.5f}'.format(a/b))
print ('a dividido por b é: {:.2f}'.format(a/b))

a dividido por b é: 0.14286
a dividido por b é: 0.14

In [ ]:
a = 245
b = 2.835895
print('|{0:10d}| e |{1:10.4f}|'.format(a,b))

|       245| e |    2.8359|

{0:10d}

0 = 1ª variável no format

: = separador

10 = separar 10 espaços para o número

d = número inteiro

{1:10.4f}

1 = 1ª variável no format

: = separador

10 = separar 10 espaços para o número

. = separador de decimal

4f = limitar em 4 floats (algarismos após a vírgula)

**REVISÃO**

Operações Aritméticas:

(), **, *, /, %, //, +, -



Conversão de Variáveis

int() = converte para inteiro

float() = converte para número decimal (real)

str() = converte para string



print() com .format()

print('textos{}'.format())